<!-- begin container -->
<div class="container">
	<!-- SKILLS -->
	<h2 class="with-breaker animate-me fadeInUp">
		Nos compétences
	</h2>
	<p class="center">We're the best.</p>
	<!-- begin tab-container -->
	<div class="tabs-container">
		<ul class="nav nav-tabs" role="tablist" id="SkillsTab">
		  <li class="active">
			  <a href="#skill1" role="tab" data-toggle="tab"><i class="fa fa-star-o"></i> Design d'intérieur</a>
		  </li>
		  <li><a href="#skill2" role="tab" data-toggle="tab"><i class="fa fa-ellipsis-v"></i> Conception de plans</a></li>
		  <li><a href="#skill3" role="tab" data-toggle="tab"><i class="fa fa-sun-o"></i> Architecture 3D</a></li>
		  <li><a href="#skill4" role="tab" data-toggle="tab"><i class="fa fa-gavel"></i> Rénovation</a></li>
		  <li><a href="#skill5" role="tab" data-toggle="tab"><i class="fa fa-book"></i> Audit</a></li>
		  <li><a href="#skill6" role="tab" data-toggle="tab"><i class="fa fa-cubes"></i> Consulting</a></li>
	  </ul>

  <!-- begin tab-content -->
	<div class="tab-content">
		<!-- begin skill 1 -->
		<div class="tab-pane active bounceInRight" id="skill1">
			<h2><i class="fa fa-star-o"></i>Design d'intérieur</h2>
  			<p class="text-justify">
  			  <span style="text-indent:50px;">START propose une expertise de haute qualité en Design d’Intérieur. C’est la recherche de la satisfaction complète par l’écoute et le respect du commanditaire.
  			  </span>
  			  <br/>
  			  Nous créons des espaces qui rendent la vie plus belle, plus facile et agréable dans un regard esthétique et pratique.
  			  <br/>
  			  Que ce soit pour votre résidence, vos bureaux ou tout autre espace, envoyez-nous les détails de votre projet et de vos attentes. START saura vous orienter et vous proposer une expertise professionnelle, rigoureuse et personnalisée pour votre intérieur.
  			</p>
			<!-- begin row -->
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li><b>Le Design book</b>: Un cahier des charges pour préparer sereinement vos travaux</li>
						<li><b>Le coaching décoration</b>: Un échange d’idées pour ne pas vous tromper</li>
						<li><b>Le Shopping décoration</b>: Nous achetons pour vous vos articles et décorations</li>
						<li><b>Le suivi de chantier</b>: Nous coordonnons pour vous vos travaux</li>
					</ul>
				</div>
			</div><!-- end row -->
		</div><!-- end skill 1 -->
		<!-- begin skill 2 -->
		<div class="tab-pane bounceInRight" id="skill2">
			<h2><i class="fa fa-ellipsis-v"></i>Conception de plans</h2>
  			<p class="text-justify"> Le service de conception de plan sur mesure de START comprend assurément l'exclusivité de votre plan combinée à une expertise inégalée en conception de design d'allure unique et prestigieuse, adaptée à tous les budgets.
  			  <br/>
  			  Une ou plusieurs rencontres avec les professionnels de START permettront à ceux-ci de bien comprendre vos besoins en terme d'espace et de mode de vie, afin que la conception qu'il fera de votre résidence corresponde en tout point à vos attentes et à vos goûts.
  			</p>
			<div class="row">
				<div class="col-md-12">
  					<ul>
  						<li><b>Plan 2D</b> </li>
  						<li><b>Design d'élevation 2D</b> </li>
  					</ul>
					</div>

			</div>
		</div><!-- end skill 2 -->
		<!-- begin skill 3 -->
		<div class="tab-pane bounceInRight" id="skill3">
			<h2><i class="fa fa-sun-o"></i>Architecture 3D</h2>
  			<p class="text-justify"> START est en mesure de vous fournir des designs 3D de l'environnement de votre choix. Nous vous produirons des plans réalistes avant construction de vos maisons, immeubles ou lieu de travail.</p>
		</div><!-- end skill 3 -->
		<!-- begin skill 4 -->
		<div class="tab-pane bounceInRight" id="skill4">
			<h2><i class="fa fa-gavel"></i>Rénovation</h2>
			<p class="text-justify"> Que vous planifiez la construction de votre nouvelle résidence ou que vous prévoyez entreprendre des travaux de rénovation sur votre demeure actuelle, tôt ou tard vous devrez réfléchir au matériau pour lequel vous opterez pour habiller votre maison. Parmi le vaste choix de produits offerts sur le marché, plusieurs facteurs influenceront votre décision : esthétique, coût, facilité d'installation, durabilité et garantie. START vous conseille et vous aide à y voir plus clair.</p>
			<div class="row">
				<div class="col-md-6">

					</div>
					<div class="col-md-6">

					</div>
			</div>
		</div><!-- end skill 4 -->
		<!-- begin skill 5 -->
		<div class="tab-pane bounceInRight" id="skill5">
			<h2><i class="fa fa-book"></i>Audit</h2>
			<p class="text-justify"> Dans le but d'améliorer votre habitat, Start se charge de faire un état de votre environnement et fera des propositions de qualités en fonction de vos goûts et besoins en fournissant un devis.</p>

		</div><!-- end skill 5 -->
		<!-- begin skill 6 -->
		<div class="tab-pane bounceInRight" id="skill6">
			<h2><i class="fa fa-cubes"></i>Consulting</h2>
			<p class="text-justify"> Certains acheteurs ou promoteurs font souvent face à un manque d'expertise dans le domaine de l'immobilier.</p>
			<p class="text-justify"> Chez START, nous nous engageons à fournir une expertise à toute personne sur le point de faire l'acquisition d'un appartement, d'une maison ,d'un commerce ou même des aménagements ou rénovations en fonction de leurs goût et budget pour que leur projet aille dans la bonne direction et surtout améliorer leur qualité de vie.</p>

		</div><!-- end skill 6 -->
	</div><!-- end tab-content -->
	<script>
	  $(function () {
	    	$('#SkillsTab a').click(function (e) {
		  		e.preventDefault()
		  		$(this).tab('show')
			});
	  });
	</script>
	</div><!-- end tab-container -->
</div><!-- end container -->
