<!-- begin container -->
<div class="container">
	<!-- SKILLS -->
	<h2 class="with-breaker animate-me fadeInUp">
		Nos compétences
	</h2>
	<p class="center">We're the best.</p>
	<!-- begin tab-container -->
	<div class="tabs-container">
		<ul class="nav nav-tabs" role="tablist" id="SkillsTab">
		  <li class="active">
			  <a href="#skill1" role="tab" data-toggle="tab"><i class="fa fa-star-o"></i> Design d'intérieur</a>
		  </li>
		  <li><a href="#skill2" role="tab" data-toggle="tab"><i class="fa fa-ellipsis-v"></i> Conception de plans</a></li>
		  <li><a href="#skill3" role="tab" data-toggle="tab"><i class="fa fa-sun-o"></i> Architecture 3D</a></li>
		  <li><a href="#skill4" role="tab" data-toggle="tab"><i class="fa fa-gavel"></i> Rénovation</a></li>
		  <li><a href="#skill5" role="tab" data-toggle="tab"><i class="fa fa-book"></i> Audit</a></li>
		  <li><a href="#skill6" role="tab" data-toggle="tab"><i class="fa fa-cubes"></i> Consulting</a></li>
	  </ul>

  <!-- begin tab-content -->
	<div class="tab-content">
		<!-- begin skill 1 -->
		<div class="tab-pane active bounceInRight" id="skill1">
			<h2><i class="fa fa-star-o"></i>Design d'intérieur</h2>
  			<p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit felis a magna eleifend commodo. In tempus odio eget cursus viverra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce non hendrerit ligula. Sed iaculis vehicula enim eu aliquam. Aliquam interdum tempor velit eu vulputate. Etiam sit amet nunc est.</p>
			<!-- begin row -->
			<div class="row">
				<div class="col-md-6">
					<ul>
						<li>Quisque quis lacinia augue</li>
						<li>Nunc nec vulputate massa</li>
						<li>eget elementum libero</li>
						<li>Etiam at dapibus lectus</li>
						<li>Suspendisse suscipit</li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul>
						<li>Quisque quis lacinia augue</li>
						<li>Nunc nec vulputate massa</li>
						<li>eget elementum libero</li>
						<li>Etiam at dapibus lectus</li>
						<li>Suspendisse suscipit</li>
					</ul>
				</div>
			</div><!-- end row -->
		</div><!-- end skill 1 -->
		<!-- begin skill 2 -->
		<div class="tab-pane bounceInRight" id="skill2">
			<h2><i class="fa fa-ellipsis-v"></i>Conception de plans</h2>
  			<p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit felis a magna eleifend commodo. In tempus odio eget cursus viverra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce non hendrerit ligula. Sed iaculis vehicula enim eu aliquam. Aliquam interdum tempor velit eu vulputate. Etiam sit amet nunc est.</p>
			<div class="row">
				<div class="col-md-6">
  					<ul>
  						<li>Quisque quis lacinia augue</li>
  						<li>Nunc nec vulputate massa</li>
  						<li>eget elementum libero</li>
  						<li>Etiam at dapibus lectus</li>
  						<li>Suspendisse suscipit</li>
  					</ul>
					</div>
					<div class="col-md-6">
  					<ul>
  						<li>Quisque quis lacinia augue</li>
  						<li>Nunc nec vulputate massa</li>
  						<li>eget elementum libero</li>
  						<li>Etiam at dapibus lectus</li>
  						<li>Suspendisse suscipit</li>
  					</ul>
					</div>
			</div>
		</div><!-- end skill 2 -->
		<!-- begin skill 3 -->
		<div class="tab-pane bounceInRight" id="skill3">
			<h2><i class="fa fa-sun-o"></i>Architecture 3D</h2>
  			<p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit felis a magna eleifend commodo. In tempus odio eget cursus viverra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce non hendrerit ligula. Sed iaculis vehicula enim eu aliquam. Aliquam interdum tempor velit eu vulputate. Etiam sit amet nunc est.</p>
			<div class="row">
				<div class="col-md-6">
  					<ul>
  						<li>Quisque quis lacinia augue</li>
  						<li>Nunc nec vulputate massa</li>
  						<li>eget elementum libero</li>
  						<li>Etiam at dapibus lectus</li>
  						<li>Suspendisse suscipit</li>
  					</ul>
					</div>
					<div class="col-md-6">
  					<ul>
  						<li>Quisque quis lacinia augue</li>
  						<li>Nunc nec vulputate massa</li>
  						<li>eget elementum libero</li>
  						<li>Etiam at dapibus lectus</li>
  						<li>Suspendisse suscipit</li>
  					</ul>
					</div>
			</div>
		</div><!-- end skill 3 -->
		<!-- begin skill 4 -->
		<div class="tab-pane bounceInRight" id="skill4">
			<h2><i class="fa fa-gavel"></i>Rénovation</h2>
			<p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit felis a magna eleifend commodo. In tempus odio eget cursus viverra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce non hendrerit ligula. Sed iaculis vehicula enim eu aliquam. Aliquam interdum tempor velit eu vulputate. Etiam sit amet nunc est.</p>
			<div class="row">
				<div class="col-md-6">
  					<ul>
  						<li>Quisque quis lacinia augue</li>
  						<li>Nunc nec vulputate massa</li>
  						<li>eget elementum libero</li>
  						<li>Etiam at dapibus lectus</li>
  						<li>Suspendisse suscipit</li>
  					</ul>
					</div>
					<div class="col-md-6">
  					<ul>
  						<li>Quisque quis lacinia augue</li>
  						<li>Nunc nec vulputate massa</li>
  						<li>eget elementum libero</li>
  						<li>Etiam at dapibus lectus</li>
  						<li>Suspendisse suscipit</li>
  					</ul>
					</div>
			</div>
		</div><!-- end skill 4 -->
		<!-- begin skill 5 -->
		<div class="tab-pane bounceInRight" id="skill5">
			<h2><i class="fa fa-book"></i>Audit</h2>
			<p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit felis a magna eleifend commodo. In tempus odio eget cursus viverra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce non hendrerit ligula. Sed iaculis vehicula enim eu aliquam. Aliquam interdum tempor velit eu vulputate. Etiam sit amet nunc est.</p>
			<div class="row">
				<div class="col-md-6">
  					<ul>
  						<li>Quisque quis lacinia augue</li>
  						<li>Nunc nec vulputate massa</li>
  						<li>eget elementum libero</li>
  						<li>Etiam at dapibus lectus</li>
  						<li>Suspendisse suscipit</li>
  					</ul>
					</div>
					<div class="col-md-6">
  					<ul>
  						<li>Quisque quis lacinia augue</li>
  						<li>Nunc nec vulputate massa</li>
  						<li>eget elementum libero</li>
  						<li>Etiam at dapibus lectus</li>
  						<li>Suspendisse suscipit</li>
  					</ul>
					</div>
			</div>
		</div><!-- end skill 5 -->
		<!-- begin skill 6 -->
		<div class="tab-pane bounceInRight" id="skill6">
			<h2><i class="fa fa-cubes"></i>Consulting</h2>
			<p class="text-justify"> Certains acheteurs ou promoteurs font souvent face à un manque d'expertise dans le domaine de l'immobilier.</p>
			<p class="text-justify"> Chez START, nous nous engageons à fournir une expertise à toute personne sur le point de faire l'acquisition d'un appartement, d'une maison ,d'un commerce ou même des aménagements ou rénovations en fonction de leurs goût et budget pour que leur projet aille dans la bonne direction et surtout améliorer leur qualité de vie.</p>
			<div class="row">
				<div class="col-md-6">
  					<ul>
  						<li>Quisque quis lacinia augue</li>
  						<li>Nunc nec vulputate massa</li>
  						<li>eget elementum libero</li>
  						<li>Etiam at dapibus lectus</li>
  						<li>Suspendisse suscipit</li>
  					</ul>
					</div>
					<div class="col-md-6">
  					<ul>
  						<li>Quisque quis lacinia augue</li>
  						<li>Nunc nec vulputate massa</li>
  						<li>eget elementum libero</li>
  						<li>Etiam at dapibus lectus</li>
  						<li>Suspendisse suscipit</li>
  					</ul>
					</div>
			</div>
		</div><!-- end skill 6 -->
	</div><!-- end tab-content -->
	<script>
	  $(function () {
	    	$('#SkillsTab a').click(function (e) {
		  		e.preventDefault()
		  		$(this).tab('show')
			});
	  });
	</script>
	</div><!-- end tab-container -->
</div><!-- end container -->
